main.index-page {
	background: $bg-color-main;
	p {
		font-size: 12px;
		@media (min-width: 500px) {
			font-size: 13px;
		}
		@media (min-width: 900px) {
			font-size: 16px;
		}
	}
}

//TOP ARTICLE = FIRST ARTICLE BELOW HEADER

.top-article {
	background: $bg-color-article;
	@media (min-width: 650px) {
		display: flex;
		flex-direction: row-reverse;
		align-content: space-between;
	}

	&__text-wrapper {
		width: 100%;
		text-align: left;
		padding: 4vh 8vw;

		h2 {
			color: $heading-color-2;
		}

		p {
			padding-top: 4vh;
			strong {
				color: $highlight-color;
				font-weight: 700;
			}
		}
	}

	&__image-wrapper {
		width: 100%;
		@media (min-width: 670px) {
			flex-basis: auto;
			align-self: stretch;
		}

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			max-height: 100%;
			max-width: 100%;
		}
	}
}

//ARTICLE COLLECTION

.articles.index {
	padding: 5vh 5vh;
	@media (min-width: 670px) {
		padding: 10vh 10vh;
	}
	h2 {
		padding-bottom: 5vh;
		text-align: center;
		color: $heading-color-1;
	}
	h3 {
		color: $heading-color-2;
	}

	p {
		font-size: 14px;
	}

	article.index {
		margin-top: 5vh;
		background: $bg-color-article;
		box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
		&:nth-of-type(1),
		&:nth-of-type(2) {
			img {
				object-fit: contain;
				width: 75%;
			}
		}
		&:nth-of-type(3) {
			img {
				padding: 0;
				width: 100%;
			}
		}
	}

	.text-wrapper {
		padding: 2em 1em 1em 1em;
		max-width: 80%;

		@media (min-width: 670px) {
			padding: 2em 2em;
		}
	}

	.image-wrapper {
		position: relative;
		text-align: center;
		padding: 0;

		&:nth-of-type(3) {
			padding-top: 1em;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			max-height: 100%;
			max-width: 100%;
			padding: 0;

			&:nth-of-type(1) {
				width: 80%;
				padding: 2em;
			}
			&:nth-of-type(2) {
				padding: 3em;
			}
		}
	}
}

@media (min-width: 670px) {
	article.index {
		display: flex;
		align-items: center;
		justify-content: center;
		.image-wrapper {
			flex-basis: 50%;
			padding: 3em;

			img {
				width: 100%;
				display: block;
			}
		}
		.text-wrapper {
			flex-basis: 50%;
			padding: 3em;
			order: 1;
		}
	}
}

@media (min-width: 1000px) {
	.articles__wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 2em;
		grid-row-gap: 2em;

		.image-wrapper {
			flex-basis: 50%;
			padding: 2em;
			&:nth-of-type(2) {
				padding: 0;
				width: 100%;
			}
		}
		.text-wrapper {
			flex-basis: 50%;
			padding: 2em;
			order: 1;
		}

		article:nth-of-type(1) {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		article:nth-of-type(2) {
			grid-row: span 2;
			display: flex;
			flex-direction: column;
		}
		article:nth-of-type(3) {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
		}
	}
}

button.read-more {
	background: white;
	color: #2c4f80;
	width: 100px;
	height: 30px;
	border: solid 1px #2c4f80;
	border-radius: 10px;
}
