main.index-page {
	background: #f1f1f1;
	p {
		font-size: 12px;
		@media (min-width: 500px) {
			font-size: 13px;
		}
		@media (min-width: 900px) {
			font-size: 16px;
		}
	}
}

//FIRST ARTICLE BELOW HEADER

.top-article {
	background: white;
	@media (min-width: 650px) {
		display: flex;
		flex-direction: row-reverse;
		align-content: space-between;
	}

	&__text-wrapper {
		width: 100%;
		text-align: left;
		padding: 4vh 8vw;

		h2 {
			color: #e32700;
			font-weight: 800;
		}

		p {
			padding-top: 4vh;
			strong {
				color: #e32700;
			}
		}
	}

	&__image-wrapper {
		width: 100%;
		@media (min-width: 670px) {
			flex-basis: auto;
			align-self: stretch;
		}

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			max-height: 100%;
			max-width: 100%;
		}
	}
}

//ARTICLE COLLECTION

.articles.index {
	h2 {
		padding: 10vh 0 5vh 0;
		text-align: center;
		color: #2c4f80;
		font-weight: 800;
	}
	h3 {
		color: #e32700;
		font-weight: 500;
	}
	article.index {
		margin-top: 5vh;
		background: white;

		&:nth-of-type(3) {
			img {
				padding: 0;
				width: 100%;
			}
		}
	}

	.text-wrapper {
		padding: 2em 1.5em;
		max-width: 80%;
	}

	.image-wrapper {
		position: relative;
		text-align: center;
		padding: 0;

		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
			max-height: 100%;
			max-width: 100%;
			//display: block;
			padding: 0;

			&:nth-of-type(1) {
				width: 80%;
				padding: 3em;
			}
			&:nth-of-type(2) {
				padding: 3em;
			}
		}
	}
}

@media (min-width: 670px) {
	article.index {
		display: flex;
		align-items: center;
		justify-content: center;
		.image-wrapper {
			flex-basis: 50%;
			padding: 3em;
			img {
				width: 100%;
				display: block;
			}
		}
		.text-wrapper {
			flex-basis: 50%;
			padding: 3em;
			order: 1;
		}
	}
}

@media (min-width: 1000px) {
	.articles__wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: repeat(2, 1fr);
		gap: 2em;

		.image-wrapper {
			flex-basis: 50%;
			padding: 3em;
			&:nth-of-type(2) {
				padding: 0;
				width: 100%;
			}
		}
		.text-wrapper {
			flex-basis: 50%;
			padding: 3em;
			order: 1;
		}

		article:nth-of-type(1) {
			display: flex;
			align-items: center;
			justify-content: center;
			background: lightgrey;
		}
		article:nth-of-type(2) {
			grid-row: span 2;
			display: flex;
			flex-direction: column;
			background: lightgrey;
		}
		article:nth-of-type(3) {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			background: lightgrey;
		}
	}
}

button.read-more {
	color: #2c4f80;
	width: 100px;
	height: 30px;
	border-radius: 10px;
}
