main.join-page {
	background: $bg-color-main;
	padding-bottom: 3em;

	.text-wrapper {
		padding: 5em 2em;
		max-width: 560px;
		h2 {
			text-align: center;
			color: $heading-color-2;
			font-weight: 800;
		}
		p {
			text-align: center;
			color: $text-color-2;
			font-weight: 500;
			font-size: 16px;
			@media (min-width: 600px) {
				font-size: 24px;
			}
		}
	}
}

.form-wrapper {
	background: $bg-color-form;
	padding: 2em 2em;
	width: 85%;
	box-shadow: 2px 2px 4px 1px rgb(168, 168, 168);

	form {
		padding: 0.5em 0.5em;
	}

	.grid {
		display: grid;
		margin-bottom: 1em;
		grid-row-gap: 1em;
		grid-column-gap: 1em;

		@media (min-width: 550px) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
		}
		@media (min-width: 750px) {
			grid-template-columns: 3fr 3fr 2fr;
			grid-template-rows: 1fr 1fr;
			grid-row-gap: 1em;
			grid-column-gap: 2.5em;
		}
	}
}

label {
	margin: 0;
	font-size: 14px;
	color: $text-color-2;
	font-weight: 700;
	padding-bottom: 1em;
}

input,
textarea {
	width: 100%;
	max-width: 1000px;
	padding: 0.5em;
	margin-top: 1em;
	border: 1px solid $text-color-2;
	border-radius: 5px;
}

input::placeholder {
	font-size: 10px;
}

button.submit-join {
	color: $text-color-2;
	width: 100px;
	height: 30px;
	border: solid 1px #2c4f80;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
}
