$primary-font: "Montserrat", sans-serif;

$header-color-1: #ffffff;
$header-color-2: #2c4f80;

$heading-color-1: #2c4f80;
$heading-color-2: #e32700;

$text-color-1: #323232;
$text-color-2: #2c4f80;
$text-color-3: #ffffff;
$text-color-nav: #ffffff;
$text-color-footer: #ffffff;

$highlight-color: #e32700;

$bg-color-main: #f1f1f1;
$bg-color-article: #ffffff;
$bg-color-form: #ffffff;
$bg-color-nav: #061b38;
$bg-color-footer: #2c4f80;
