@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap");
@import "./partials/variables";
@import "./partials/top-menu";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/join";
@import "./partials/faq";
@import "./partials/join";
@import "./partials/index";

* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}

body {
	width: 100%;
	min-width: 200px;
}

nav {
	background: $bg-color-nav;
}

nav,
header,
main {
	font-family: "Montserrat", sans-serif;
}

h2 {
	font-weight: 800;
}

h3 {
	font-weight: 500;
}

p {
	line-height: 1.5;
}

strong {
	font-weight: 700;
}

img {
	display: block;
	object-fit: cover;
}
